name: imgc-rs release pipeline
on:
  push:
    tags:
      - 'v*.*.*'

env:
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/imgc-rs
  BASE_CPU: x86-64-v3 # docker image and suffixless-binary use this as the target-cpu type

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      release_id: ${{ steps.gh_release.outputs.id }}
      release_upload_url: ${{ steps.gh_release.outputs.upload_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # Create GitHub Release
      - name: Create GitHub Release
        id: gh_release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false

  build_binaries:
    needs: create_release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cpu_target: [x86-64-v3, x86-64-v4, znver3, znver5]
    name: Build binaries for ${{ matrix.cpu_target }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # Extract version from the Git tag (strip leading 'v')
      - name: Set version from tag
        id: version
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Set Cargo.toml version
        shell: bash
        run: |
          sed -i "s/0\\.0\\.0-git/$VERSION/" Cargo.toml
          head -n 5 Cargo.toml
          sed -i "s/0\\.0\\.0-git/$VERSION/" Cargo.lock
          grep -i -C 5 "imgc" Cargo.lock

      - name: Install Linux and Windows Cross Compilers
        run: sudo apt-get install --yes --no-install-recommends musl-tools gcc-mingw-w64-x86-64-win32 nasm upx-ucl

      - name: Install rustup targets
        run: rustup target add x86_64-unknown-linux-musl x86_64-pc-windows-gnu

      # Cargo publish (once!)
      - name: Cargo publish crate
        if: ${{ matrix.cpu_target == env.BASE_CPU }}
        run: cargo publish --allow-dirty
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}

      - name: Build binaries
        env:
          RUSTFLAGS: "-C target-cpu=${{ matrix.cpu_target }}"
          VERSION: ${{ needs.create_release.outputs.version }}
        run: |
          echo "Building for CPU: ${{ matrix.cpu_target }}"
          
          if [ "${{ matrix.cpu_target }}" == "${BASE_CPU}" ]; then
            SUFFIX=""
          else
            SUFFIX="-${{ matrix.cpu_target }}"
          fi
          BIN_LINUX="imgc-$VERSION$SUFFIX"
          BIN_WIN="imgc-$VERSION$SUFFIX.exe"
          
          cargo build --release --target x86_64-unknown-linux-musl --target x86_64-pc-windows-gnu
          
          # pack linux binary
          cp target/x86_64-unknown-linux-musl/release/imgc current_release/$BIN_LINUX
          upx --best --ultra-brute current_release/$BIN_LINUX
          shasum -a 256 current_release/$BIN_LINUX > current_release/$BIN_LINUX.sha256

          # pack windows binary
          cp target/x86_64-pc-windows-gnu/release/imgc.exe current_release/$BIN_WIN
          upx --best --ultra-brute current_release/$BIN_WIN
          shasum -a 256 current_release/$BIN_WIN > current_release/$BIN_WIN.sha256

      - name: Upload binaries to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: current_release/*

  publish_docker:
    needs: create_release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
        env:
          DOCKER_METADATA_ANNOTATIONS_LEVELS: manifest,index

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Push README.md to Dockerhub
        uses: peter-evans/dockerhub-description@v5
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ env.IMAGE_NAME }}
          short-description: 'imgc-rs, configurable and efficient batch image converter'
          enable-url-completion: true